.education {
    background: #fff;
}

.education .title::before {
    width: 240px;
}

.education .title::after {
    background: #fff;
    content: "what I learn";
}

.educationCategory {
    /* box-shadow: 1px 1px 10px #444; */
    margin-bottom: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 12px 12px 24px #d4d4d4,
        -12px -12px 24px #ffffff;
}

.educationCategoryTitle {
    color: crimson;
}

.educationCards{
    padding: 20px 0px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px 0px;
    flex-wrap: wrap;
}

.educationCardsWrapper,
.educationTabsWrapper {
    overflow: hidden;
}

.educationCard{
    padding: 15px;
    width: 30%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 8px 8px 16px #d4d4d4,
        -8px -8px 16px #ffffff;
    border-radius: 5px;
}

.educationTabs {
    display: flex;
    padding: 10px;
}

.educationTabWrapper {
    flex: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.educationTab {
    width: 100%;
    background: transparent;
    border-left: 3px solid #dc143c33;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 15px;
    color: #444;
    font: 500 18px 'Ubuntu', sans-serif;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s;
}

.educationTab:hover {
    background: #9e9e9e56;
}

.activeEducationTab {
    color: crimson;
    background: #9e9e9e56;
    border-left: 3px solid #dc143c;
}

.educationTabContentWrapper {
    flex: 9;
    padding: 5px 10px;
    border-left: none;
}

.educationTabContent {
    display: none;
}

.educationCard>p>a,
.educationTabContent>p>a{
    text-decoration: none;
    color:  inherit;
}

.educationTabContent>p>a:hover{
    color: crimson;
}

.activeEducationTabContent {
    display: block;
}

.courseTitle {
    margin-bottom: 5px;
    color: crimson;
    font: 500 20px 'Ubuntu', sans-serif;
}

.institute,
.universityBoard {
    font: 500 18px 'Ubuntu', sans-serif;
    line-height: 1.2;
}

.instituteLocation {
    font: 500 15px 'Ubuntu', sans-serif;    
    line-height: 1.5;
}

.courseDuration {
    margin-top: 5px;
}

.courseDuration,
.passingYear {
    color: #333;
    font: 500 15px 'Ubuntu', sans-serif;
    line-height: 1.2;
}

.educationTabContent>ul {
    margin-top: 20px;
    font: 400 16px "Poppins", sans-serif;
    line-height: 1.5;
}

.educationTabContent>ul>li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 30px;
    margin-bottom: 10px;
}

.educationTabContent>ul>li::before {
    content: "\027a5";
    position: absolute;
    /* top: -4px; */
    left: 0px;
    font-size: 20px;
    color: crimson;
}

.educationTabContent>ul>li>li {
    margin: 5px 5px;
    padding: 2px 5px;
    /* background-color: #e1e1e1; */
    border: 1px solid #b5b4b47b;
    /* border-left: 1px solid #b5b4b4; */
    /* box-shadow: 1px 1px 10px #444; */
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 10px 10px 20px #d4d4d4, -10px -10px 20px #ffffff;
    border-radius: 5px;
    color: #333;
    user-select: none;
    cursor: pointer;
}

.educationTabContent>ul>li>li:hover {
    border: 1px solid crimson;
    scale: 1.1;
    color: #000;
}

/* responsive media query for education */
@media (max-width: 1190px) {
    .educationCard{
        width: 45%;
    }

    .educationTabWrapper {
        flex: 3;
    }
}

@media (max-width: 947px) {
    .educationTabs {
        flex-direction: column;
    }

    .educationTabWrapper {
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .educationTab {
        padding: 10px 20px;
        border-left: none;
        border-bottom: 3px solid #dc143c33;
    }

    .activeEducationTab {
        border-bottom: 3px solid crimson;
    }


}

@media (max-width: 690px) {}

@media (max-width: 500px) {
    .education .title::before {
        width: 250px;
    }

    .educationCard{
        width: 90%;
    }

    .educationTab {
        padding: 10px 15px;
        font-size: 16px;
    }

    .educationTabContentWrapper {
        align-self: center;
    }
}

@media (max-width: 380px) {}

@media (max-width: 350px) {}