.education {
    background: #fff;
}

.education .title::before {
    width: 240px;
}

.education .title::after {
    background: #fff;
    content: "what I learn";
}

.educationCategory {
    /* box-shadow: 1px 1px 10px #444; */
    margin-bottom: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 12px 12px 24px #d4d4d4,
        -12px -12px 24px #ffffff;
}

.educationCategoryTitle {
    color: crimson;
}

.educationCards {
    padding: 20px 0px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px 0px;
    flex-wrap: wrap;
}

.educationCardsWrapper,
.educationTabsWrapper {
    overflow: hidden;
}

.educationCard {
    padding: 15px 5px;
    width: 30%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 8px 8px 16px #d4d4d4,
        -8px -8px 16px #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.5s ease-in-out;
}

.educationCard:hover {
    scale: 1.04;
    animation: educationCardGlow 1s infinite ease-in-out;
}

@keyframes educationCardGlow {

    0%,
    100% {
        box-shadow: 1px 1px 10px crimson;
    }

    50% {
        box-shadow: 2px 2px 20px crimson;
    }
}

.educationCards:has(.educationCard:hover) .educationCard:not(:hover) {
    scale: 0.95;
    opacity: 0.9;
    filter: brightness(0.95);
    animation: floating 3s infinite ease-in-out;
    animation-delay: calc(-0.1s * var(--delay));
}

/* .educationCard:has(+ .educationCard:hover),
.educationCard:hover + .educationCard{
    opacity: 0.8;
    scale: 0.95;
    transform: rotate(5deg);
} */

.educationTabs {
    display: flex;
    padding: 10px;
}

.educationTabWrapper {
    flex: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.educationTab {
    width: 100%;
    background: transparent;
    border-left: 3px solid #dc143c33;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 15px;
    color: #444;
    font: 500 18px 'Ubuntu', sans-serif;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s;
}

.educationTab:hover {
    background: #9e9e9e56;
}

.activeEducationTab {
    color: crimson;
    background: #9e9e9e56;
    border-left: 3px solid #dc143c;
}

.educationTabContentWrapper {
    flex: 9;
    padding: 5px 10px;
    border-left: none;
}

.educationTabContent {
    display: none;
}

.educationCard>p>a,
.educationTabContent>p>a {
    padding: 2px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}
.educationCard>p>a:hover,
.educationTabContent>p>a:hover {
    padding: 5px 10px;
    background: #c5c5c5;
}

.educationTabContent>p>a:hover {
    color: crimson;
}

.activeEducationTabContent {
    display: block;
}



.courseTitle,
.institute,
.universityBoard,
.instituteLocation,
.courseDuration,
.passingYear {
    display: flex;
    align-items: center;
}


.courseTitle {
    position: relative;
    margin-bottom: 5px;
    padding: 0px 10px;
    color: crimson;
    font: 500 20px 'Ubuntu', sans-serif;
}

.courseTitle>i {
    margin-right: 10px;
    font-size: 15px;
    color: #dc143caf;
}


.institute,
.universityBoard {
    font: 500 18px 'Ubuntu', sans-serif;
}

.institute>i {
    margin-right: 10px;
    font-size: 15px;
    color: #000000ab;
}

.universityBoard>i {
    margin-right: 10px;
    font-size: 20px;
    color: #000000ab;
}

.instituteLocation {
    margin: 3px 0px 5px 0px;
    padding: 0px 10px;
    font: 500 15px 'Ubuntu', sans-serif;
}

.instituteLocation>i {
    margin-right: 20px;
    color: #000000ab;
}

.courseDuration {
    margin-top: 5px;
}

.courseDuration,
.passingYear {
    padding: 0px 10px;
    color: #333;
    font: 500 15px 'Ubuntu', sans-serif;
    line-height: 1.2;
}

.courseDuration>i,
.passingYear>i {
    margin-right: 18px;
    color: #000000ab;
}

.educationTabContent>ul {
    margin-top: 20px;
    font: 400 16px "Poppins", sans-serif;
    line-height: 1.5;
}

.educationTabContent>ul>li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 30px;
    margin-bottom: 10px;
}

.educationTabContent>ul>li::before {
    content: "\027a5";
    position: absolute;
    /* top: -4px; */
    left: 0px;
    font-size: 20px;
    color: crimson;
}

.educationTabContent>ul>li>li {
    margin: 5px 5px;
    padding: 2px 5px;
    /* background-color: #e1e1e1; */
    border: 1px solid #b5b4b47b;
    /* border-left: 1px solid #b5b4b4; */
    /* box-shadow: 1px 1px 10px #444; */
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 10px 10px 20px #d4d4d4, -10px -10px 20px #ffffff;
    border-radius: 5px;
    color: #333;
    user-select: none;
    cursor: pointer;
}

.educationTabContent>ul>li>li:hover {
    border: 1px solid crimson;
    scale: 1.1;
    color: #000;
}

/* responsive media query for education */
@media (max-width: 1190px) {
    .educationCard {
        width: 45%;
    }

    .educationTabWrapper {
        flex: 3;
    }
}

@media (max-width: 947px) {
    .educationCard {
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow: 6px 6px 12px #d4d4d4,
            -6px -6px 12px #ffffff;
    }

    .educationTabs {
        flex-direction: column;
    }

    .educationTabWrapper {
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .educationTab {
        padding: 10px 20px;
        border-left: none;
        border-bottom: 3px solid #dc143c33;
    }

    .activeEducationTab {
        border-bottom: 3px solid crimson;
    }


}

@media (max-width: 690px) {}

@media (max-width: 500px) {
    .education .title::before {
        width: 250px;
    }

    .educationCard {
        width: 90%;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow: 3px 3px 6px #d4d4d4,
            -3px -3px 6px #ffffff;
    }

    .educationTab {
        padding: 10px 15px;
        font-size: 16px;
    }

    .educationTabContentWrapper {
        align-self: center;
    }
}

@media (max-width: 380px) {}

@media (max-width: 350px) {}