.project{

}

.information{
    text-align: center;
    margin-top: 100px;
    padding: 10px;
    background-color:crimson
}

.project .title::after {
    content: "I have done";
}

.projectContentWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.singleProjectWrapper{
    margin-bottom: 50px;
}

.singleProject{
    position: relative;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 20px 0px;
}

.singleProjectRevers{
    position: relative;
    display: flex; 
    flex-direction: row-reverse;
    padding: 20px 0px;
}

.projectImg{
    flex: 0 0 60%;
    z-index: 1;
}

.projectImg img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 20px 30px -15px rgba(7, 14, 15, 0.7);
}

.projectDescription{
    flex: 1;
    text-align: right;
    z-index: 2;
}

.singleProjectRevers>.projectDescription{
    text-align: left;
    float: left;
}

.projectTitle{
    margin-top: 20px;
    color: crimson;
    font: 500 25px 'Ubuntu', sans-serif;
    text-shadow: 5px 5px 10px #000;
}

.projectInfo{
    position: absolute;
    width: 50%;
    right: 0;
    /* transform: translateX(-15%); */
}

.singleProjectRevers>.projectDescription>.projectInfo{
    position: absolute;
    width: 50%;
    left: 0;
}

.projectDetails{
    margin-top: 30px;
    padding: 20px;
    background-color: #0c181aa0;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 20px 30px -15px rgba(7, 14, 15, 0.7);
    font: 400 16px "Poppins", sans-serif;
    text-shadow: 5px 5px 10px #000;
}


.projectTechnology{
    margin-top: 20px;
}

.projectTechnology>ul{
    float: right;
    display: flex;
    gap: 10px;
    font: 400 16px 'Ubuntu', sans-serif;
    text-shadow: 5px 5px 10px #000;
}

.singleProjectRevers>.projectDescription>.projectInfo>.projectTechnology>ul{
    float: left;
}
.projectTechnology>ul>li{
    padding: 5px 10px;
    background-color: #0f1f2279;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    text-shadow: 5px 5px 10px #000;
    list-style: none;
}

.projectLink{
    width: 100%;
    float: right;
    margin-top: 20px;
}

.projectLink>a{
    padding: 5px 10px;
    background-color: #0f1f22a9;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    margin: 10px;
    font-size: 24px;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.projectLink>a>i{
    text-shadow: 5px 5px 10px #000;
}

.projectLink>a:hover{
    background-color: #ffffffcc;
}
.projectLink>a:hover i{
    color: crimson;
    text-shadow: none;
}






