.about {
    /* background: #fff; */
}
.about .title::after {
    content: "who I am";
}

.about .about-content .left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-content .left img {
    display: block;
    width: 320px;
    aspect-ratio: 1/1.3;
    object-fit: fill;
    border-radius: 2%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.about .about-content .right .text span,
.about .about-content .right p span {
    color: crimson;
}
.about .about-content .right .text .aboutWork {
    display: block;
}

.about .about-content .right p {
    text-align: justify;
}
.about .about-content .right p span{
    font-weight: 500;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #dc143c99;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    outline: none;
    color: crimson;
    background: none;
    animation: ripple-dc143c50 0.8s infinite linear  ;
}

/* responsive media query */
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
    }
    .about .about-content .right .text {
        font-size: 25px;
        font-weight: 500;
    }
    .about .about-content .right .text .aboutWork {
        display: inline;
    }
}

@media (max-width: 991px) {
    .about .about-content .right .text .aboutWork {
        display: block;
    }
}

@media (max-width: 947px) {
    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }
}

@media (max-width: 690px) {
    .about .about-content .right .text .aboutWork {
        display: inline;
    }
    .about-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about .about-content .right p {
        text-align: left;
    }
}

@media (max-width: 380px) {
    .about .about-content .right .text {
        text-align: center;
    }
    
    .about .about-content .right .text .aboutWork {
        display: block;
    }
}