/* contact section styling */
.contact {
    color: #dc143c;
}

.contact .title::after {
    content: "get in touch";
    background: none;
}

.detailsWrapper,
.contact-form {
    overflow: hidden;
}

.contact-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0px;
    background-color: #ffffff10;
    backdrop-filter: blur(20px);
    border-radius: 5px;
}

.contact-icon i {
    width: 100%;
    padding: 5px;
    border: 2px solid #dc143c00;
    border-radius: 5px;
    color: #dc143cdd;
    font-size: 45px;
}

.contact-icon i:hover {
    border: 2px solid #dc143c99;
    color: #bbb;
    animation: ripple 0.8s infinite linear ;
}

.contact-icon svg{
    width: 100%;
    padding: 5px;
    border: 2px solid crimson;
    border-radius: 5px;
    
}
.contact-icon svg:hover {
    fill: #ddd;
}

.contact .contact-content {
    align-items: start !important;
}

.contact .contact-content .column {
    width: calc(50% - 10px);
}

.contact .contact-content .text {
    margin-bottom: 15px;
    padding: 10px 0px 10px 0px;
    background-color: #ffffff10;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    font: 400 28px 'Ubuntu', sans-serif;
    color: crimson;
    /* font-size: 28px; */
    text-align: center;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .contactDetails {
    margin: 10px 0;
    padding: 25px 10px 30px 20px;
    background-color: #ffffff10;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    overflow: hidden;
}

.contact .contact-content .row {
    display: flex;
    height: 70px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 10px;
    font: 400 18px 'Ubuntu', sans-serif;
}

.contactDetails .row i {
    font-size: 25px;
    color: crimson;
    width: 30px;
}

/* .contact>.max-width>.contact-content>.left>.contactDetails>.row>.info>.sub-title:hover + .contact i {
    color: #ffffff;
} */

.contact>.max-width>.contact-content>.left>.detailsWrapper>.contactDetails>.row>.info>.head {
    font-weight: 500;
    /* color: #c72041; */
    color: crimson;
    font-size: 20px;
}

.contact>.max-width>.contact-content>.left>.detailsWrapper>.contactDetails>.row>.info>.sub-title,
.contact>.max-width>.contact-content>.left>.detailsWrapper>.contactDetails>.row>.info>.sub-title a {
    display: inline-block;
    color: #bbb;
    background: transparent;
    border-radius: 2px;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* .contact>.max-width>.contact-content>.left>.contactDetails>.row>.info>.sub-title:hover .contact>.max-width>.contact-content>.left>.contactDetails>.row>.info>.head,
.contact>.max-width>.contact-content>.left>.contactDetails>.row>.info>.sub-title a:hover  .contact>.max-width>.contact-content>.left>.contactDetails>.row>.info>.head {
    color: #fff;
} */

/* .contact>.max-width>.contact-content>.left>.contactDetails>.row>.info>.sub-title:hover, */
.contact>.max-width>.contact-content>.left>.detailsWrapper>.contactDetails>.row>.info>.sub-title a:hover {
    padding: 2px 5px;
    background: #55555568;
}

.contact-form {
    padding: 20px 15px;
    border-radius: 5px;
    background-color: #ffffff10;
    backdrop-filter: blur(20px);
}

.contact .right form .fields {
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
}

.fields .mobile {
    flex: 5;
}

.fields .email {
    flex: 8;
}

.contact .right form .field,
.contact .right form .fields .field {
    position: relative;
    height: 45px;
    width: 100%;
    margin-bottom: 25px;
}

.contact .right form .field span,
.contact .right form .fields .field span {
    position: absolute;
    left: 0;
    margin: 5px 0px 0px 5px;
    padding: 5px;
    color: #999999c6;
    font: 400 18px 'Ubuntu', sans-serif;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.contact .right form .field input:focus~span,
.contact .right form .field textarea:focus~span,
.contact .right form .fields .field input:focus~span {
    margin: 10px 0px 0px 5px;
    padding: 2px 5px;
    border-radius: 2px;
    background-color: #373939ee;
    backdrop-filter: blur(20px);
    /* color: #444; */
    /* color: #19ffffb4; */
    color: #19ffff80;
    /* color: #aaa; */
    font-size: 16px;
    font-weight: 500;
    /* letter-spacing: 1px; */
    transform: translateY(-20px);
}

.contact .right form .field input:valid~span,
.contact .right form .field textarea:valid~span,
.contact .right form .fields .field input:valid~span {
    margin: 8px 0px 0px 5px;
    padding: 2px 5px;
    border-radius: 2px;
    background-color: #373939ee;
    backdrop-filter: blur(20px);
    /* color: #888; */
    color: #68f9f9cb;
    font-size: 16px;
    font-weight: 500;
    transform: translateY(-20px);
}

.contact .right form .textarea {
    height: 180px;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    padding: 20px 0px 15px 15px;
    /* background: #ffffffcc;
    backdrop-filter: blur(5px); */
    background-color: #ffffff05;
    /* backdrop-filter: blur(20px); */
    border: 1px solid #5b868641;
    /* border: 1px solid lightgrey; */
    border-radius: 5px;
    outline: none;
    color: #ddd;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #19ffff7e;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right form .button-area button {
    color: #fff;
    display: block;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 6px;
    font: 400 20px 'Ubuntu', sans-se3rif;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 1px solid #dc143c99;
    transition: all 0.3s ease;
}

.right form .button-area button:hover {
    outline: none;
    color: crimson;
    background: none;
    animation: ripple 0.8s infinite linear ;
}

@media (max-width: 1104px) {
    .contact .contact-content .column {
        width: calc(50% - 10px);
    }
}

@media (max-width: 500px) {
    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .mobile,
    .contact .right form .email {
        margin: 0;
        flex: auto;
    }

    .right form .error-box {
        width: 150px;
    }
}

@media (max-width: 340px) {
    .contact>.max-width>.contact-content>.left>.detailsWrapper>.contactDetails>.row>.info>.sub-title,
    .contact>.max-width>.contact-content>.left>.detailsWrapper>.contactDetails>.row>.info>.sub-title a {
        font-size: 16px;
    }
}