.skills .title::after {
    background: none;
    content: "what I know";
}

.skillsContent {
    min-height: 100vh;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skillCategory {
    height: fit-content;
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    border-top: 1px solid #ffffff17;
    border-left: 1px solid #ffffff17;
    border-radius: 5px;
}

.skillCategoryTitle {
    margin-bottom: 0px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    color: #dc143c;
    font: 500 30px 'Ubuntu', sans-serif;
    user-select: none;
    cursor: pointer;
}


.skillCategoryTitle>i {
    font-size: 28px;
    transition: transform 0.5s ease-in-out;
}

.skillCategory>input[type="radio"]:checked~.skillCategoryTitle>i {
    transform: rotate(180deg);
}

.skillCategory>input[type="radio"] {
    display: none;
}

.skillWrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease-in-out;
}

.skillCategory>input[type="radio"]:checked~.skillWrapper {
    grid-template-rows: 1fr;
    padding: 10px 0px;
}

.skill {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}


.skillItem {
    display: block;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    background: rgba(44, 44, 44, 0.5);
    border-radius: 5px;
    /* border: 1px solid rgba(255, 255, 255, 0.05); */
    border-top: 1px solid #ffffff17;
    border-left: 1px solid #ffffff17;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(8px);
    user-select: none;
    overflow: hidden;
}

.skillItem:hover {
    backdrop-filter: blur(15px);
    border-top: 1px solid #ffffff00;
    border-left: 1px solid #ffffff00;
    box-shadow: 1px 1px 10px #19ffffd4;

}

.skillImg {
    width: 30px;
    margin: 0px 10px;
    padding-top: 5px;
    overflow: hidden;
}

.skillItem:hover .skillImg svg {
    fill: #dc143c;
}

.skillName {
    margin: 0px 5px;
    font: 20px 'Ubuntu', sans-serif;
    text-shadow: 5px 5px 10px #000;
}

.skillAge {
    margin: 0px 10px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #cfbca2;
    text-shadow: 1px 1px 5px #000;
}


@media (max-width: 1104px) {
    .skillItem {
        height: 50px;
    }

    .skillImg {
        width: 25px;
    }

    .skillImg svg {
        width: 25px;
    }

    .skillName {
        font-size: 18px;
    }

    .skillAge {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .skillCategoryTitle {
        padding: 10px;
    }

    .skillItem {
        height: 40px;
    }

    .skillImg {
        width: 20px;
        margin: 0px 5px;
    }

    .skillImg svg {
        width: 20px;
    }

    .skillName {
        font-size: 16px;
    }

    .skillAge {
        font-size: 10px;
        margin: 0px 5px;
    }
}

@media (max-width: 947px) {
    .skills .skillsContent .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 500px) {
    .skills .skillsContent .left .text {
        font-size: 19px;
    }

    .skillCategoryTitle {
        margin-inline: auto;
        font-size: 25px;
    }

    .skill {
        align-items: flex-start;
        justify-content: center;
    }

    .skillItem {
        margin: 5px;
        height: 145px;
        flex-direction: column;
    }

    .skillImg {
        width: 25px;
        margin: 2px 0px;
    }

    .skillImg svg {
        width: 25px;
    }

    .skillName {
        font-size: 16px;
        margin: 5px 0px;
    }

    .skillAge {
        font-size: 12px;
        margin: 2px 0px;
    }

}
