.skills .title::after {
    background: none;
    content: "what I know";
}

.skillsContent {
    min-height: 100vh;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skillTabWrapper {
    position: sticky;
    top: 85px;
    overflow: hidden;
    z-index: 10;
}

.skillTabs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid #ffffff17;
    overflow-x: auto;
}

.skillTab {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 10px 0px;
    padding: 8px 16px;
    background: #2c2c2c80;
    border-radius: 5px;
    border: 1px solid #ffffff17;
    font: 500 18px 'Ubuntu', sans-serif;
    color: inherit;
    text-shadow: 5px 5px 10px #000;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(8px);
    white-space: nowrap;
    z-index: 2;
}

.skillTab:hover {
    background: #1a1a1a80;
    border: 1px solid #dc143c65;
    /* color: #dc143c; */
}

.activeTab {
    background: #1a1a1a80;
    border: 1px solid #dc143c65;
    color: #dc143c;
}

.skillCategory {
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border-top: 1px solid #ffffff17;
    border-left: 1px solid #ffffff17;
}

.skillCategoryTitle {
    padding: 15px;
    color: #dc143c;
    font: 500 30px 'Ubuntu', sans-serif;
}

.skillWrapper {
    padding: 10px;
}

.skill {
    /* padding: 0px 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.skillItem {
    position: relative;
    display: block;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    background: rgba(44, 44, 44, 0.5);
    border-radius: 5px;
    /* border: 1px solid rgba(255, 255, 255, 0.05); */
    border-top: 1px solid #ffffff17;
    border-left: 1px solid #ffffff17;
    border-right: 1px solid #ffffff00;
    border-bottom: 1px solid #ffffff00;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(8px);
    user-select: none;
    overflow: hidden;
}

.skillItem:hover {
    backdrop-filter: blur(15px);
    border: 1px solid #19ffff50;
    box-shadow: 0px 0px 5px #19ffffd4;
    /* animation: SkillButtonGlow 1s infinite ease-in-out; */
    animation: ripple-19ffffd4 1s infinite linear;
}

@keyframes SkillButtonGlow {

    0%,
    100% {
        box-shadow: 1px 1px 5px #19ffffd4;
    }

    50% {
        box-shadow: 1.5px 1.5px 10px #19ffffd4;
    }
}


.skill:has(.skillItem:hover) .skillItem:not(:hover) {
    scale: 0.95;
    opacity: 0.9;
    filter: brightness(0.95);
    animation: floating 3s infinite ease-in-out;
    animation-delay: calc(-0.1s * var(--delay));
}

.skillImg {
    position: absolute;
    margin-left: -10px;
    right: 0%;
    top: 0%;
    padding-top: 5px;
    transition: all 0.8s ease-in-out;
}

.skillItem:hover .skillImg {
    right: calc(50% - calc(45px/2));
}

.skillImg svg {
    width: 80px;
    fill: #faebd797;
    /* fill: #dc143c; */
    opacity: 0.1;
    transform: rotate(330deg);
    transition: all 0.8s ease-in-out;
    z-index: 1;
}

.skillItem:hover .skillImg svg {
    width: 45px;
    fill: #dc143c;
    opacity: 0.5;
    transform: rotate(0deg);
}

.skillName {
    margin: 0px 5px;
    font: 20px 'Ubuntu', sans-serif;
    text-shadow: 5px 5px 10px #000;
    z-index: 2;
}

.skillAge {
    margin: 0px 10px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #cfbca2;
    text-shadow: 1px 1px 5px #000;
    z-index: 2;
}


@media (max-width: 1104px) {
    .skillItem {
        height: 50px;
    }

    .skillImg {
        /* width: 25px; */
    }

    .skillImg svg {
        /* width: 25px; */
    }

    .skillName {
        font-size: 18px;
    }

    .skillAge {
        font-size: 12px;
    }
}

@media (max-width: 991px) {

    .skillTab {
        display: block;
        font: 500 15px 'Ubuntu', sans-serif;
    }

    .skillCategoryTitle {
        padding: 10px;
    }

    .skillItem {
        height: 40px;
    }

    .skillImg {
        /* width: 20px;
        margin: 0px 5px; */
    }

    .skillImg svg {
        /* width: 20px; */
    }

    .skillName {
        font-size: 16px;
    }

    .skillAge {
        font-size: 10px;
        margin: 0px 5px;
    }
}

@media (max-width: 735px) {
    .skillTabs {
        justify-content: start;
        padding-left: 10px;
    }
}

@media (max-width: 500px) {

    .skillTabs {
        justify-content: start;
        padding-left: 10px;
    }

    .skillTab {
        font: 500 15px 'Ubuntu', sans-serif;
    }

    .skillCategoryTitle {
        font-size: 25px;
    }

    .skillWrapper {
        padding-inline: 0px;
    }

    .skill {
        align-items: flex-start;
        justify-content: center;
    }

    .skillItem {
        margin: 5px;
        height: 80px;
        flex-direction: column;
    }

    .skillImg {
        /* width: 25px;
        margin: 2px 0px; */
        top: 20%;
        right: -15%;
        /* padding-top: 0px; */
    }

    .skillItem:hover .skillImg {
        /* right: 5%;
        top: -5%; */
        top: 0%;
        right: calc(50% - calc(50px/2));
    }

    .skillImg svg {
        width: 60px;
    }

    .skillItem:hover .skillImg svg {
        width: 50px;
    }

    .skillName {
        font-size: 16px;
        margin: 5px 0px;
    }

    .skillAge {
        font-size: 12px;
        margin: 2px 0px;
    }

}