.skills .title::after {
    background: none;
    content: "what I know";
}

.skillsContent {
    min-height: 100vh;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skillCategory {
    height: fit-content;
}

.skillCategoryTitle {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    color: #dc143c;
    font: 500 30px 'Ubuntu', sans-serif;
}

.skillCategoryTitle>i {
    font-size: 28px;
    transition: transform 0.5s ease-in-out;
}

.skillCategory>input[type="radio"] {
    display: none;
}


.skill {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.skillCategory>input[type="radio"]:checked+.skill-0 {
    height: 240px;
}

.skillCategory>input[type="radio"]:checked+.skill-1 {
    height: 80px;
}

.skillCategory>input[type="radio"]:checked+.skill-2 {
    height: 160px;
}

.skillCategory>input[type="radio"]:checked+.skill-3 {
    height: 80px;
}

.skillCategory>input[type="radio"]:checked+.skill-4 {
    height: 80px;
}


.skillItem {
    display: block;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    background: rgba(28, 28, 28, 0.6);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(5px);
    user-select: none;
    overflow: hidden;
}

.skillItem:hover {
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 10px #19ffffd4;

}

.skillImg {
    width: 30px;
    margin: 0px 10px;
    padding-top: 5px;
    overflow: hidden;
}

.skillItem:hover .skillImg svg {
    fill: #dc143c;
}

.skillName {
    margin: 0px 5px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.skillAge {
    margin: 0px 10px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #cfbca2;
}


@media (max-width: 1104px) {
    .skillCategory>input[type="radio"]:checked+.skill-0 {
        height: 280px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-1 {
        height: 140px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-2 {
        height: 210px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-3 {
        height: 140px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-4 {
        height: 70px;
    }

    .skillItem {
        height: 50px;
    }

    .skillImg {
        width: 25px;
    }

    .skillImg svg {
        width: 25px;
    }

    .skillName {
        font-size: 18px;
    }

    .skillAge {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .skillCategoryTitle {
        padding: 10px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-0 {
        height: 240px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-1 {
        height: 120px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-2 {
        height: 180px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-3 {
        height: 120px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-4 {
        height: 120px;
    }

    .skillItem {
        height: 40px;
    }

    .skillImg {
        width: 20px;
        margin: 0px 5px;
    }

    .skillImg svg {
        width: 20px;
    }

    .skillName {
        font-size: 16px;
    }

    .skillAge {
        font-size: 10px;
        margin: 0px 5px;
    }
}

@media (max-width: 947px) {
    .skills .skillsContent .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {}

@media (max-width: 500px) {
    .skills .skillsContent .left .text {
        font-size: 19px;
    }

    .skillCategoryTitle {
        margin-inline: auto;
        font-size: 25px;
    }

    .skill {
        padding: 0px;
        align-items: flex-start;
        justify-content: center;
    }

    .skillCategory>input[type="radio"]:checked+.skill-0 {
        height: 660px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-1 {
        height: 330px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-2 {
        height: 500px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-3 {
        height: 180px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-4 {
        height: 330px;
    }

    .skillItem {
        margin: 5px;
        height: 145px;
        flex-direction: column;
    }

    .skillImg {
        width: 25px;
        margin: 2px 0px;
    }

    .skillImg svg {
        width: 25px;
    }

    .skillName {
        font-size: 16px;
        margin: 5px 0px;
    }

    .skillAge {
        font-size: 12px;
        margin: 2px 0px;
    }

}

@media (max-width: 380px) {
    .skillCategory>input[type="radio"]:checked+.skill-3 {
        height: 330px;
    }
}
@media (max-width: 368px) {
    .skillCategory>input[type="radio"]:checked+.skill-0 {
        height: 780px;
    }
    .skillCategory>input[type="radio"]:checked+.skill-2 {
        height: 630px;
    }
}

@media (max-width: 342px) {
    .skillCategory>input[type="radio"]:checked+.skill-0 {
        height: 980px;
    }

    .skillCategory>input[type="radio"]:checked+.skill-2 {
        height: 650px;
    }
}

/* @media (max-width: 380px) {
    .skillCategoryTitle {
        font-size: 20px;
    }

    .skillItem {
        height: 25px;
    }

    .skillImg {
        width: 10px;
        margin: 0px 2px;
    }

    .skillImg svg {
        width: 10px;
    }

    .skillName {
        font-size: 10px;
    }

    .skillAge {
        font-size: 7px;
        margin: 0px 2px;
    }
} */