footer {
    background: linear-gradient(to bottom, transparent, #0000008d);
    padding: 20px;
    border-top: 1px solid #ffffff19;
    backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
}

footer p {
    padding: 2px 5px;
    font: 400 18px 'Ubuntu', sans-serif;
    
}

footer p a {
    display: inline-block;
    color: crimson;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer p a:hover {
    padding: 0px 5px;
    border-radius: 2px;
    background-color: #88888850;
    color: #19ffffac;
}

footer .fa-heart{
    color: crimson;
}