.experience{
    background: #fff;
}

.experience .title::before {
    width: 280px;
}

.experience .title::after {
    background: #fff;
    content: "what I acquire";
}

.experienceContent{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.experienceTabs{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.tabWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
}


.tab{
    background: transparent;
    border-left: 3px solid #dc143c60;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 10px;
    font: 500 20px 'Ubuntu', sans-serif;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s;
}

.activeTab{
    color: crimson;
    background: #9e9e9e44;
    border-left: 3px solid #dc143c;
}

.contentWrapper{
    padding: 5px 10px ;
    border-left: none;
}

.content{
    display: none;
}

.activeContent{
    display: block;
}

.content>ul>li{
    list-style: none;
}

.content>ul>li::before{
    content: "0";
    margin-right: 5px;
    color: green;
}