.experience {
    /* background: #fff; */
    min-height: 100dvh;
}

.experience .title::before {
    width: 280px;
}

.experience .title::after {
    width: 170px;
    background: #fff;
    content: "where I’ve worked";
}

.experienceContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experienceTabs {
    width: 85%;
    display: flex;
    padding: 10px;
}

.experienceTabs>.tabWrapper {
    flex: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.experienceTabs>.tabWrapper>.tab {
    position: relative;
    width: 100%;
    background: transparent;
    border-left: 3px solid #dc143c33;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 15px;
    color: #444;
    font: 500 18px 'Ubuntu', sans-serif;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s;
}

.experienceTabs>.tabWrapper>.tab::before{
    content:"";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: #9e9e9e56;
    transition: all 0.5s ease-in-out;
}

.experienceTabs>.tabWrapper>.tab:hover::before{
    width: 100%;
}

.experienceTabs>.tabWrapper>.tab::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0;
    left: -3px;
    border-left: 3px solid #dc143c;
    transition: all 0.5s ease-in-out;
}

.experienceTabs>.tabWrapper>.activeTab.tab::after{
    height: 100%;
}

.experienceTabs>.tabWrapper>.tab:hover {
    /* background: #9e9e9e56; */
}

.experienceTabs>.tabWrapper>.activeTab {
    position: relative;
    color: crimson;
    /* background: #9e9e9e56; */
    transition: all 0.5s ease-in-out;
}

.experienceTabs>.tabWrapper>.activeTab::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #9e9e9e56;
    transition: all 0.5s ease-in-out;
}

.experienceTabs>.contentWrapper {
    flex: 9;
    padding: 5px 10px;
    border-left: none;
}

.experienceTabs>.contentWrapper>.content {
    display: none;
}

.experienceTabs>.contentWrapper>.activeContent {
    display: block;
}

.experienceTabs>.contentWrapper>.content>.position {
    margin-bottom: 5px;
    color: crimson;
    font: 500 20px 'Ubuntu', sans-serif;
}

.experienceTabs>.contentWrapper>.content>.company {
    font: 500 18px 'Ubuntu', sans-serif;
}

.experienceTabs>.contentWrapper>.content>.location {
    font: 500 15px 'Ubuntu', sans-serif;
}

.experienceTabs>.contentWrapper>.content>.duration {
    margin-top: 5px;
    color: #222;
    font: 400 15px 'Ubuntu', sans-serif;
}

.experienceTabs>.contentWrapper>.content>ul {
    margin-top: 20px;
    font: 400 16px "Poppins", sans-serif;
    line-height: 1.5;
}

.experienceTabs>.contentWrapper>.content>ul>li {
    position: relative;
    list-style: none;
    padding-left: 30px;
    margin-bottom: 10px;
}

.experienceTabs>.contentWrapper>.content>ul>li::before {
    content: "\027a5";
    position: absolute;
    top: -4px;
    left: 0px;
    font-size: 20px;
    color: crimson;
}

/* responsive media query for Experience */
@media (max-width: 1190px) {
    .experienceTabs {
        width: 95%;
    }

    .experienceTabs>.tabWrapper {
        flex: 3;
    }
}

@media (max-width: 947px) {
    .experienceTabs {
        width: 95%;
        flex-direction: column;
    }

    .experienceTabs>.tabWrapper {
        flex-direction: row;
        overflow-x: auto;
        padding-bottom: 10px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .experienceTabs>.tabWrapper>.tab {
        padding: 10px 20px;
        border-left: none;
        border-top: 3px solid #dc143c33;
    }

    .experienceTabs>.tabWrapper>.tab::after{
        width: 0%;
        height: 100%;
        top: -3px;
        left: 0;
        border-right: none;
        border-left: none;
        border-top: 3px solid #dc143c;
        transition: all 0.5s ease-in-out;
        transition-delay: 0.3s;
    }
    
    .experienceTabs>.tabWrapper>.activeTab.tab::after{
        width: 100%;
    }

    .experienceTabs>.tabWrapper>.tab::before{
        width: 100%;
        height: 0%;
        transition-delay: 0.3s;
    }
    
    .experienceTabs>.tabWrapper>.tab:hover::before{
        height: 100%;
    }

    .experienceTabs>.tabWrapper>.activeTab {
        /* border-top: 3px solid crimson; */
    }

}

@media (max-width: 690px) {}

@media (max-width: 500px) {
    .experience .title::before {
        width: 250px;
    }

    .experienceTabs {
        width: 110%;
    }

    .experienceTabs>.tabWrapper>.tab {
        padding: 10px 15px;
        font-size: 16px;
    }

    .experienceTabs>.contentWrapper {
        align-self: center;
    }
}

@media (max-width: 380px) {
}

@media (max-width: 350px) {
}