/* all similar content styling codes */
.border{
    border: 1px solid red;
}
section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.project,
.skills,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.project .project-content,
.services .serv-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home,
.skills,
.services,
.contact {
    color: #fff;
    background: url("../../assets/images/banner.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.services .title::before,
.skills .title::before,
.contact .title::before {
    background: none;
}

.about-line-break {
    display: none;
}



section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

  /* responsive media query for similar content */
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .max-width {
        max-width: 930px;
    }
    .services .serv-content .card,
    .project .project-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skillsContent .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home-line-break,
    .about-line-break {
        display: block;
        margin-top: -15px;
    }
}

@media (max-width: 500px) {
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 25px;
        line-height: 38px;
    }

    .about .about-content .right .text,
    .skills .skillsContent .left .text {
        font-size: 19px;
    }
  }