.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  /* background: rgba(0, 0, 0, 0.5); */
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.sticky {
  padding: 20px 0;
  /* background: #dc143cce;
  backdrop-filter: blur(3px); */
  background-color: #000000bb;
  backdrop-filter: blur(10px);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
}

.navbar .logo a span {
  color: crimson;
  font-size: 37px;
  letter-spacing: 0px;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  /* color: #222; */
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  position: relative;
  display: block;
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #19ffff00;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.navbar .menu li a::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  /* background: #6e8d8d50; */
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.navbar .menu li a:hover::before{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #19ffff50;
  animation: ripple-19ffffd4 1s infinite linear;
}

.navbar .menu li a:hover {
  /* border: 1px solid #19ffff50;
  box-shadow: 1px 1px 5px #19ffffd4;
  animation: ripple-19ffffd4 1s infinite linear; */
  /* box-shadow: 1px 1px 5px 1px #19ffffd4; */
}

.navbar .menu li .activeNav {
  color: #19ffff;
  box-shadow: 1px 1px 5px 1px #19ffffd4;
  /* box-shadow: 1px 1px 5px #19ffffd4, 1.5px 1.5px 10px #19ffffd4; */
  transition: all 0.5s ease-in-out;
}

.navbar .menu li a.activeNav:hover{
  box-shadow: 1px 1px 5px 1px #19ffffd4;
  animation: paused;
}

.navbar.sticky .menu li a {
  transition: all 0.3s ease-in-out;
}

/* .navbar.sticky .menu li a:hover {
  box-shadow: 1px 1px 5px 1px #0000009d;
}

.navbar.sticky .menu li .activeNav {
  color: #000;
  box-shadow: 1px 1px 5px 1px #000000;
  transition: all 0.5s ease-in-out;
} */

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* responsive media query start */
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    display: block;
    position: fixed;
    padding-bottom: 30px;
    width: 100%;
    left: -100%;
    top: 0;
    /* background: #dc143cce;
    backdrop-filter: blur(3px); */
    background-color: #000000f0;
    backdrop-filter: blur(20px);
    text-align: center;
    margin-top: 81px;
    transition: all 0.3s ease;
  }

  .navbar .active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 22px;
  }
}