.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
  }
  
  .navbar.sticky {
    padding: 20px 0;
    background: #dc143cce;
    backdrop-filter: blur(3px);
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  
  .navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
  }
  
  .navbar.sticky .logo a span {
    color: #fff;
  }
  
  .navbar .menu li {
    list-style: none;
    display: inline-block;
  }
  
  .navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }
  
  .navbar .menu li a:hover {
    color: crimson;
  }
  
  .navbar.sticky .menu li a:hover {
    color: #000;
  }
  
  /* menu btn styling */
  .menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }

  /* responsive media query start */
@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 58vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #dc143cce;
        text-align: center;
        margin-top: 81px;
        backdrop-filter: blur(3px);
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 10px 0;
        font-size: 22px;
    }
}

