.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  /* background: rgba(0, 0, 0, 0.5); */
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 20px 0;
  background: #dc143cce;
  backdrop-filter: blur(3px);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
}

.navbar .logo a span {
  color: crimson;
  font-size: 37px;
  letter-spacing: 0px;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #222;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.navbar .menu li a:hover {
  box-shadow: 1px 1px 5px 1px #19ffffd4;
}


.navbar .menu li .activeNav {
  color: #19ffff;
  box-shadow: 1px 1px 5px 1px #19ffffd4;
  transition: all 0.5s ease-in-out;
}

.navbar.sticky .menu li a {
  transition: all 0.3s ease-in-out;
}

.navbar.sticky .menu li a:hover {
  box-shadow: 1px 1px 5px 1px #0000009d;
}


.navbar.sticky .menu li .activeNav {
  color: #000;
  box-shadow: 1px 1px 5px 1px #000000;
  transition: all 0.5s ease-in-out;
}


/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* responsive media query start */
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    display: block;
    position: fixed;
    padding-bottom: 30px;
    width: 100%;
    left: -100%;
    top: 0;
    background: #dc143cce;
    text-align: center;
    margin-top: 81px;
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 22px;
  }
}